 

body{padding:0;margin:0;}
#topPadding{display:none;}

.clear{border-width:0px;}
input,textarea {font-size:12px;}


.mod{border-width:0;margin:0px 5px 11px 5px;}
.mod .modFrame{border-width:1px;}
.mod .mheader {border-bottom:1px solid;}
.mod .lt,
.mod .rt {width:1px;font-size:1px;}
.mod .t{height:27px;padding:0 2px;border-width:0 0 1px 0;border-style:solid;}
.item-title h3,
.item-title h3 a {font-size:13px;}
.item-content {padding:5px 0 5px 0;}
.modCon .profileMng {padding-bottom:5px;}
.mod .modEditCon{margin:0px 1px 1px 1px;padding: 10px 0 10px 10px;border-width:0 0 1px 0;}
.modCon .editFrame,
.modCon .linkEdit {border-width:0px;}
.mod .lt,
.mod .rt {width:0;}

.categories-content li,
.latest_comments-content li {height:22px;line-height:22px;}
.categories-content a,
.latest_comments-content a {text-decoration:none;height:22px;line-height:22px;}

.refer-content a {text-decoration:none;line-height:18px;}

.item-content {padding:5px 0 5px 0;}
#wrapper {width:100%;background-position:100% 100%;background-repeat:no-repeat;}
#modContainer{padding:15px 6px 5px 6px;}
#mainWrapper {border-width:0 0 1px 0;}


#header{border-width:0;padding:0;margin:0;background-repeat:no-repeat;overflow:hidden;}
#blogTitle a {font-size:20px;}


#navBar {border-width:0px;height: 33px;overflow:hidden;}

#mainNav li{border-style:solid;border-width:1px 1px 0 1px;margin:6px 3px 0px 0px;padding:2px 8px 3px 8px;}
#mainNav li .pageTitle {font-weight:normal;}
#mainNav a span{font-weight:normal;padding-top: 0px !important;padding-top: 2px;}

#mainNav li.active{border-width:1px 1px 0 1px;margin:2px 3px 0px 0px;padding:5px 8px 5px 8px;}
#mainNav li .pageTitle,
#mainNav a span {font-weight:normal;}

.modCtnInfo-private {height:30px;line-height:32px;border-style:solid;border-width:0 1px 1px 1px;padding:0 35px;overflow:hidden;background-repeat:no-repeat;background-position:15px 50%;}
.modCtnInfo-noMod {padding:15px 0;}
#innerNavBar {padding:0 12px 0 17px;}
#optionNav li {margin-left:15px;}


#innerFooter{text-align:center;padding:0 40px 13px 40px;}
#powered {margin:13px 0;}
#contact, #copyright{margin:0;line-height:20px;}


#innerContentLabelBox {padding:15px 0 0 0;}
#articleContent {margin-top:15px;}


div.subMenu-title,
div.subMenu-maintitle {color:#333;}

div,table,ul,span,p{color:#44856D;}
a,a:visited {color:#9BB9B9;}
a:hover {color:#F00;}
body {
background:#FDFDFB url("") repeat-x 50% 30px;
}
#wrapper {
	background-image:url("");
}

#mainWrapper{
	border-color:#E2F3E2;
	background:none;
}

#header {
	height:195px;
	background:none;
}
#blogTitle {
padding-top:10px;
padding-left:12px;
}
#blogUrl {
padding-top:12px;
}
#blogTitle a,
#blogTitle a:visited {
	color:#FD6FA7;
}
#blogUrl a,
#blogUrl a:visited {
	color:#6CB2A5;
}
#blogUrl a:hover {
	color:#f00;
}
#blogDesc {
	color:#FCB7CD;
	line-height:20px;
	padding:15px 0 0 12px;
}
#blogTitle a:hover,
#blogUrl a:hover {
color:#f00;
}

#footer {
	background:none;
}
#contact,
#contact a,
#contact a:visited{
	color:#44856D;
}
#contact a:hover {
	color:#f00;
}
#copyright {
	color:#9BB9B9;
}


.mod {
	background:none;
}
.mod .t{
	background:#F7FAF1 url("") repeat-x 0 50%;
}

.mod .modTitle {
color:#14695E;
}
.mod .modEditCon{
	background:none;
}

.modCon .entriesAdd a,
.modCon .entriesAdd a:visited{
	color:#298CAA;
}

.item-title h3,
.item-title h3 a,
.item-title h3 a:visited {
	color:#14695E;
}
.item-info,
.item-info a,
.item-info a:visited {
	color:#9BB9B9;
}
.modCon .entriesAdd a:hover,
.item-title h3 a:hover,
.item-info a:hover {
	color:#f00;
}


#innerContentLabelBox {
color:#B99984;
}
#innerContentLabelBox a,
#innerContentLabelBox a:visited {
color:#44856D;
}

.tagEntry,
.info-content,
.tagListMore {
	color:#44856D;
}
.tagEntry a,
.tagEntry a:visites
.info-content a,
.info-content a:visited,
.info-title a,
.info-title a:visited,
.tagListMore a,
.tagListMore a:visited {
	color:#44856D;
}
#commentForm td {
	color:#44856D;
}

.modEdit a,
.modEdit a:visited,
.profileMng a,
.profileMng a:visited {
color:#41B16B;
}


#wrapper input.text,
#wrapper textarea.text {
	border-color:#E2F3E2;
	background:#FAFAFC;
	color:#44856D;
}
input.button,
input.button-submit {
	border-color:#E2F3E2;
	background:#fff;
}
input.button {
	color:#44856D;
}
input.button-submit {
	color:#298CAA;
}
.mod .mheader {
border-color:#E2F3E2;
}
.mod .modFrame{
	border-color:#E2F3E2;
}
.mod .modEditCon {
	border-color:#E2F3E2;
}
.item-title,
.item hr,
.item-content {
	border-color:#E2F3E2;
}
.info-content blockquote {
	border-color:#E2F3E2;
}
.fresh_blogs-content hr,
.fresh_blogs-content .collect .collectIco {
	border-color:#E2F3E2;
}
.links-content .link,
.Custom_Links-content .link,
.links-content .linksAdd,
.Custom_Links-content .linksAdd {
	border-color:#E2F3E2;
}
.links-content .linkEdit,
.Custom_Links-content .linkEdit{
	border-width:0px;
}
.pp-content .ppMng {
	border-color:#E2F3E2;
}
.profile-content hr,
.profile-content .profileMng {
	border-color:#E2F3E2;
}
.refer .referIco {
	border-color:#E2F3E2;
}
.music-content .musicMng{
	border-color:#E2F3E2;
}
.messages-content .messagesMng,
.messages-content .msg,
.messages-content .reply,
.messages-content .rplFormBox{
	border-color:#E2F3E2;
}


#navBar{
	background:none;
}

#mainNav li{
	background:#D2E6DB url("") repeat-x 0 0;
	border-color:#E2F3E2;
}
#mainNav li * {
	color:#1D5561;
}
#mainNav li.active{
	background:#D2E6DB url("") repeat-x 0 0;
	border-top-color:#E2F3E2;
}
#mainNav li.private {
	background:#FFC874 url("") repeat-x 0 0;
	border-color:#E3AA72;
}
#mainNav li.private * {
	color:#f00;
}
#mainNav li.hover{
	border-color:#f00;
	color:#Fff;
}
#optionNav a,
#optionNav a:visited {
color:#1D5561;
}
#optionNav a:hover {color:#f00;}

.modCtnInfo-private {
background-image:url("");
	border-color:#E2F3E2;
	background-color:#FFC874;
	color:#f00;
}
 
