div.topic_page, a {
    color: #7d0000;
    text-decoration: underline;
}

a:hover {
  color: white;
}

div.app_nav, div#page, .comment_title, tr.mouse_over {
    background-color: #fff0f0;
}

div#local, div#main, .blog_main, .blog-sidebar, .pagination a:hover, .pagination a:active {
    background-color: white;
    border-color: #7d0000;
}

div.nav, div#app_list div.decorate, a:hover, div#branding, input.button, input.submit, td.buttons a, .pagination span.current {
    background-color: #7d0000;
}

.blog_bottom li {
    border-right-color: #7d0000;
    color: #7d0000;
}

table.admin thead, .pagination a, .pagination a:visited {
    color: #7d0000;
}

div.app_nav, .pagination span.current {
    border-color: #7d0000;
}

.blog_comment, div.picture_full {
    border-top-color: #7d0000;
}


 
.white{ color:#FFF !important;}

#blog_navbar{
background-color: #7d0000;
}

.blog_navbar_for{
	color: #7d0000;
    background-color:#fff0f0;
	
}
#blog_navbar .blog_navbar_for a:visited{color: #7d0000 ; background-color:#fff0f0;}
#blog_navbar .blog_navbar_for a:link{color: #7d0000 ; background-color:#fff0f0;}
.blog_main_title{color: #000;}

.about_bar{ background:#CCCCCC;color:#7d0000 ;}

.view a:hover{color:#e9650e;}
.list_current{}
.list_current a{ color:#108AC6; font-weight:bold;}
.list_current a:hover{ color:#FFFFFF; background:#108AC6;}
#my_resume .editing a.del:hover,
#my_resume .editing a.add:hover{color: #7d0000;}
