html,body{overflow:hidden;}
 
.bg{background: url("") no-repeat 0 9999px;}
 
.loading{width:12px;height:12px;background: url("") no-repeat 0 0;}
 
.player{margin-top:10px;border-radius:2px;box-shadow:0 0 10px #ccc;background:#fff;}
 
.cover,.cover img{border-bottom-left-radius:1px;border-top-left-radius:1px;}
.cover{float:left;width:90px;height:90px;}
.cover img{width:100%;height:100%;border-top-left-radius: 2px;}

.cover-sm{width:66px;height:66px;}
 
h2{position:relative;left:0;top:0;height:36px;margin-bottom:10px;line-height:36px;padding-left:24px;font-size:14px;font-weight:normal;zoom:1;}
h2 .logo{position:absolute;left:0;top:10px;}
h2 .title{padding-top: 10px;line-height:18px;}
h2 .title .sub{font-size:12px;color:#666;}

.prev,.next{width:9px;height:10px;cursor:pointer;}
 
.prev{background-position:-33px 0;}
.prev:hover{background-position:-33px -28px;}
 
.next{background-position:-58px 0;}
.next:hover{background-position:-58px -28px;}
.play,.pause{width:14px;height:18px;cursor:pointer;}
 
.play{background-position:0 0;}
.play:hover{background-position:0 -31px;}
 
.pause{background-position:-36px -63px;}
.pause:hover{background-position:-66px -63px;}

.play-sm,.pause-sm{width:10px;height:14px;cursor:pointer;}
 
.play-sm{background-position:0 -98px;}
.play-sm:hover{background-position:0 -188px;}
 
.pause-sm{background-position:-30px -98px;}

.play-bg{width:32px;height:32px;background-position:-68px -118px;cursor:pointer;}
.play-bg:hover{background-position:-68px -167px;}
.pause-bg{width:20px;height:20px;background-position: 0 -60px;cursor:pointer;}
.pause-bg:hover{background-position:0 -157px;}

.logo{display:inline-block;width:17px;height:18px;background-position:0 -132px;vertical-align:middle;cursor:pointer;}

 
.bar,.bar .played{position:relative;left:0;top:0;height:2px;background:#cdcdcd;}
.bar .played,.bar .thumb{position:absolute;left:0;top:0;}
.bar .played{background:#e12828;}
.bar .thumb{right:-4px;left:auto;top:-3px;width:8px;height:8px;background-position:-92px -14px;cursor:pointer;}
.ctrlBox{float:right;width:200px;padding:10px 10px 0 0;position:relative;}

.oprBox{position:relative;height: 20px;margin-top:10px;line-height: 20px;}
.oprBox .time{position:absolute;left:0;font-size:11px;color:#999;}
.oprBox .btnGroup{position:relative;margin:0 auto;width:72px;}
.oprBox .btnGroup .prev,.oprBox .btnGroup .next{position:absolute;top:4px;}
.oprBox .btnGroup .prev{left:0;}
.oprBox .btnGroup .next{right:0;}
.oprBox .btnGroup .mid{margin:0 auto;}
.oprBox .open{position:absolute;right:0;top:4px;width:13px;height:10px;background-position:-58px -14px;cursor:pointer;opacity:0.8;filter:alpha(opacity=80);}
.oprBox .open:hover{opacity:1;filter:alpha(opacity=100);}
.oprBox .open.z-dis{opacity:0.3;filter:alpha(opacity=30);cursor: default;}

.list{height:340px;border-top:1px solid #e6e6e6;}
div.list.z-close{height:0 !important;overflow: hidden;display:none;}
.list ul{height:100%;overflow:hidden;position:relative;}
.list .box{height:300px;position:relative;}
.list .box .track{position:absolute;right:0;top:0;width:7px;height:100%;}
.list .box .scroll{position:absolute;top:0;right:0;width:7px;height:114px;background:#dadada;border-radius:3px;z-index:9999;}
.list li{height:30px;position:relative;line-height:30px;padding-right:18px;float:left;}
.list li.odd{background:#f7f7f7;}
.list li.z-sel{background:#e9e9e9;}
.list li .cur{width:3px;height:22px;position:absolute;left:0;top:4px;display:none;background:#df2d2d;}
.list li.z-sel .cur{display:block;}
.list .index,.list .name{float:left;}
.list .index{width:40px;text-align:center;color:#999;}
.list .by{float:right;color:#666;text-align:right;}
.list .foot{height:40px;line-height:40px;padding:0 10px;background:#f1f1f1;cursor:pointer;}
.list .logo{float:left;margin-top:11px;}
.list .yyy{float:left;margin-left:10px;font-size:14px;}
.list .slogan{float:right;color:#999;}
 
.player-sm{height:32px;}
.player-sm .head{float:left;width:24px;height:25px;padding:7px 0 0 8px;background:#f3f3f4;border-top-left-radius: 2px;border-bottom-left-radius: 2px;border-right: 1px solid #dbdbdb;}
.player-sm .mid{float:left;width:195px;margin:0 9px;}
.player-sm h3{height:24px;line-height:24px;font-weight:normal;overflow:hidden;}
.player-sm .right{float:left;height:16px;padding-left:10px;margin-top:8px;border-left:1px solid #d7d7d7;}
.player-sm .play-sm,.player-sm .pause-sm{margin-top:1px;}

 
.player-mid{height:66px;}
.player-mid .ctrlBox{padding-top:7px;}
.player-mid .ctrlBox .bar{width: 192px;}
.player-mid .time{position:absolute;color:#999;right:10px;top:46px;font-size: 11px;}
.player-mid .play-bg{position:absolute;left:17px;top:17px;}
.player-mid .pause-bg{position:absolute;left:42px;top:42px;}
.player-mid .mask{position: absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.4;filter:alpha(opacity=40);}