.dp-highlighter { font-family: "Consolas" , "Courier New" , Courier, mono, serif; font-size: 12px; background-color: #E7E5DC; width: 99%; margin: 18px 0 18px 0 !important; padding-top: 1px; text-align: left; }

 
.dp-highlighter ol, .dp-highlighter ol li, .dp-highlighter ol li span { margin: 0; padding: 0; border: none; }

.dp-highlighter a, .dp-highlighter a:hover { background: none; border: none; padding: 0; margin: 0; }

.dp-highlighter .bar { padding-left: 45px; }

.dp-highlighter.collapsed .bar, .dp-highlighter.nogutter .bar { padding-left: 0px; }

.dp-highlighter ol { 
	list-style: decimal;   
	background-color: #fff; margin: 0px 0px 1px 45px !important;   
	padding: 0px; color: #5C5C5C; 
	border-right:1px solid #E7E5DC;
}

.dp-highlighter.nogutter ol, .dp-highlighter.nogutter ol li { list-style: none !important; margin-left: 0px !important; }

.dp-highlighter ol li, .dp-highlighter .columns div { list-style: decimal-leading-zero;   list-style-position: outside !important; border-left: 3px solid #6CE26C; background-color: #F8F8F8; color: #5C5C5C; padding: 0 3px 0 10px !important; margin: 0 !important; line-height: 150%; }

.dp-highlighter.nogutter ol li, .dp-highlighter.nogutter .columns div { border: 0; }

.dp-highlighter .columns { background-color: #F8F8F8; color: gray; overflow: hidden; width: 100%; }

.dp-highlighter .columns div { padding-bottom: 5px; }

.dp-highlighter ol li.alt { background-color: #FFF; color: inherit; }

.dp-highlighter ol li span { color: black; background-color: inherit; }

 

.dp-highlighter.collapsed ol { margin: 0px; }

.dp-highlighter.collapsed ol li { display: none; }

 

.dp-highlighter.printing { border: none; }

.dp-highlighter.printing .tools { display: none !important; }

.dp-highlighter.printing li { display: list-item !important; }

 

.dp-highlighter .tools { 
	padding: 3px 8px 3px 10px; 
	font: 9px Verdana, Geneva, Arial, Helvetica, sans-serif; color: silver; 
	background-color: #f8f8f8; 
	padding-bottom: 10px; 
	border-left: 3px solid #6CE26C;
	border-right:1px solid #E7E5DC;
	}

.dp-highlighter.nogutter .tools { border-left: 0; }

.dp-highlighter.collapsed .tools { border-bottom: 0; }

.dp-highlighter .tools a { font-size: 9px; color: #a0a0a0; background-color: inherit; text-decoration: none; margin-right: 10px; }

.dp-highlighter .tools a:hover { color: red; background-color: inherit; text-decoration: underline; }

 

.dp-about { background-color: #fff; color: #333; margin: 0px; padding: 0px; }
.dp-about table { width: 100%; height: 100%; font-size: 11px; font-family: Tahoma, Verdana, Arial, sans-serif !important; }
.dp-about td { padding: 10px; vertical-align: top; }
.dp-about .copy { border-bottom: 1px solid #ACA899; height: 95%; }
.dp-about .title { color: red; background-color: inherit; font-weight: bold; }
.dp-about .para { margin: 0 0 4px 0; }
.dp-about .footer { background-color: #ECEADB; color: #333; border-top: 1px solid #fff; text-align: right; }
.dp-about .close { font-size: 11px; font-family: Tahoma, Verdana, Arial, sans-serif !important; background-color: #ECEADB; color: #333; width: 60px; height: 22px; }

 

.dp-highlighter .comment, .dp-highlighter .comments { color: #008200; background-color: inherit; }
.dp-highlighter .string { color: blue; background-color: inherit; }
.dp-highlighter .keyword { color: #069; font-weight: bold; background-color: inherit; }
.dp-highlighter .preprocessor { color: gray; background-color: inherit; }

 
.dp-xml .cdata { color: #ff1493; }
.dp-xml .tag, .dp-xml .tag-name { color: #993300; font-weight: bold; }
.dp-xml .attribute { color: red; }
.dp-xml .attribute-value { color: blue; }
 
.dp-sql .func { color: #ff1493; }
.dp-sql .op { color: #808080; }
 
.dp-rb .symbol { color: #a70; }
.dp-rb .variable { color: #a70; font-weight: bold; }
 
.dp-py .builtins { color: #ff1493; }
.dp-py .magicmethods { color: #808080; }
.dp-py .exceptions { color: brown; }
.dp-py .types { color: brown; font-style: italic; }
.dp-py .commonlibs { color: #8A2BE2; font-style: italic; }
 
.dp-j .annotation { color: #646464; }
.dp-j .number { color: #C00000; }
 
.dp-delphi .number { color: blue; }
.dp-delphi .directive { color: #008284; }
.dp-delphi .vars { color: #000; }
 
.dp-css .value { color: black; }
.dp-css .important { color: red; }
 
.dp-c .vars { color: #d00; }
 
.dp-cpp .datatypes { color: #2E8B57; font-weight: bold; }


 
.dp-highlighter .bar a { background-repeat:no-repeat; background-position:left top; display:inline-block; width:16px; height:16px; padding:1px; text-indent:-2000px; _width:0px; _overflow:hidden; _padding-left:16px; _text-indent:0px; }
.dp-highlighter .bar a:hover { border:solid 1px #ccc; text-decoration:none; padding:0px; background-repeat:no-repeat;_padding-left:16px;}
.dp-highlighter .bar a.ExpandSource {}
.dp-highlighter .bar a.ViewSource { background-image:url(""); }
.dp-highlighter .bar a.CopyToClipboard { background-image:url("");}
.dp-highlighter .bar a.PrintSource { display:none; }
.dp-highlighter .bar a.About { display:none;}