.page .page-title {
  text-align: center;
}
.page .page-counter {
  text-align: center;
}
.page .category-list-link {
  font-size: 1.2em;
}
.page .category-list-count {
  font-size: 1.2em;
  margin-left: 1em;
}
.page .pagination {
  margin: 1em 0;
  padding: 1em 0;
  display: block;
  text-align: center;
  color: #666;
}
.page .pagination .page-number,
.page .pagination .extend {
  overflow: hidden;
  font-size: 1.2em;
  padding: 0.5em;
  margin: 0 0.5em;
  text-decoration: none;
  border-bottom: 0.15em solid #666;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.page .pagination .page-number:hover,
.page .pagination .extend:hover {
  border-bottom: 0.15em solid #36e;
}
.page .pagination .page-number.current,
.page .pagination .extend.current {
  color: #36e;
  border-bottom: 0.15em solid #36e;
  border-top: 0.07em solid #36e;
}
.page .pagination .space {
  font-size: 1em;
  margin: 0 0.5em;
  color: #666;
}
.page .page-nav {
  margin: 1em;
  padding: 1em 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.page .page-nav .page-nav-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  font-size: 1.2em;
}
.page .page-nav .page-nav-item a {
  position: relative;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-decoration: none;
  border-bottom: none;
}
.page .page-nav .page-nav-item a span {
  margin: 0.3em;
}
.page .page-nav .page-nav-item a:active {
  top: 0.1em;
}
.page .page-nav .page-nav-next {
  width: 45%;
  text-align: left;
}
.page .page-nav .page-nav-next a {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.page .page-nav .page-nav-prev {
  width: 45%;
  text-align: right;
}
.page .page-nav .page-nav-prev a {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
