.oc2hBUbsTl-V_W2CPEsZf{font-size:12px;font-weight:700;letter-spacing:.5px;line-height:24px;text-transform:uppercase;-ms-flex-align:center;align-items:center;color:var(--newCommunityTheme-bodyText);cursor:pointer;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row}._3w6edM8masZLL2X9YoWf0A{height:16px;margin:0 4px 0 8px;width:16px}

 