body {
  font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
  font-size: 14px;
  line-height: 1.42858;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased; }

ul, li {
  list-style: none; }

b, strong {
  font-weight: bold; }

.mt30, .mt-30 {
  margin-top: 30px !important; }

.mb30, .mb-30 {
  margin-bottom: 30px !important; }

.mt15, .mt-15 {
  margin-top: 15px !important; }

.mt18, .mt-18 {
  margin-top: 18px !important; }

.mb5, .mb-5 {
  margin-bottom: 5px !important; }

.mt0, .mt-0 {
  margin-top: 0px !important; }

.mr10, .mr-10 {
  margin-right: 10px !important; }

.pt20, .pt-20 {
  padding-top: 20px !important; }

.mb15, .mb-15 {
  margin-bottom: 15px !important; }

#footer {
  color: #888;
  line-height: 1.6; }

#footer .footBglm,
#footer .copyright {
  text-align: center;
  font-size: 13px; }

#footer a {
  color: #888; }

.header {
  position: relative;
  z-index: 3;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.1);
  background: #fafafa; }

.nav {
  position: relative;
  padding: 10px 0; }
.nav:after {
  clear: both; }
.nav .logo {
  float: left;
  width: 175px;
  height: 60px;
  overflow: hidden; }
.nav .logo .logo-img {
  width: 175px;
  height: 60px; }
.nav .search {
  float: right; }
.nav .search.search-active .search-form {
  width: 300px; }
.nav .search .search-form {
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  transition: width 0.25s ease;
  margin: 13px 0;
  position: absolute;
  right: 0; }
.nav .search .search-form .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: #999;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.indexes, .search_other {
  border-top: 2px solid #017E66;
  border-left: 1px solid #dad9de;
  border-bottom: 1px solid #dad9de;
  border-right: 1px solid #dad9de;
  line-height: 25px;
  padding: 6px 15px; }

.indexes a {
  padding: 0px 8px;
  margin: 0 3px;
  display: inline-block;
  font-size: 14px;
  color: #017E66; }

.indexes span {
  color: #017E66; }

.youdao-fixed-ad {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 8px;
  overflow: hidden; }

.youdao-fixed-ad .img {
  display: block;
  max-height: 300px; }

.youdao-fixed-ad .ad-badge {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  font-size: 12px;
  padding: 2px 5px 0 6px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer; }

.nav-ul {
  float: left;
  margin: 0; }

.nav-li {
  float: left;
  margin: 0 15px;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500; }
.nav-li.nav-active a {
  color: #009a61; }

.advertising .img {
  width: 100%;
  max-height: 150px; }

.page_mod {
  text-align: center;
  clear: both;
  margin-bottom: 20px; }

.page_mod .page_start, .page_mod .page_end {
  width: 52px;
  height: 28px;
  line-height: 28px;
  color: #9a9a9a;
  border: 1px solid #e3e3e3;
  text-align: center;
  background: #ebebeb; }

.page_mod span {
  display: inline-block; }

.page_mod span.current {
  background: #017E66;
  border: 1px solid #017E66;
  color: #FFF;
  padding: 0 10px;
  height: 28px;
  line-height: 28px; }

.page_mod a {
  display: inline-block;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #ccc;
  margin: 0 2px;
  text-align: center;
  color: #676767; }

.page_mod .page_op {
  display: inline; }

.page_mod .page_op .jump_to {
  text-align: center;
  border: 1px solid #b5b5b5;
  width: 44px;
  height: 20px;
  line-height: 20px;
  margin: 0 2px; }

.page_mod .page_op .jump_go {
  height: 24px;
  line-height: 24px;
  border: none;
  margin-left: 15px;
  cursor: pointer; }

.page_mod .page_prev a, .page_mod .page_next a {
  width: 66px; }

.ad,
.ad div {
  overflow: hidden; }

@media (min-width: 768px) {
  .container {
    width: 750px; }
  .search.search-active .search-form {
    width: 200px; }
  .left,
  .right {
    padding: 0; }
  .left > div,
  .right > div {
    margin: 10px 0 !important; }
  #tag-title {
    display: none; } }

@media (min-width: 992px) {
  .container {
    width: 970px; }
  #tag-title {
    display: block; } }

@media (min-width: 1200px) {
  .container {
    width: 1140px; }
  #tag-title {
    display: block; } }

@media (max-width: 768px) {
  .nav .search.search-active .search-form {
    width: 200px; }
  .left.col-xs-12 {
    padding: 0; }
  #tag-title {
    display: none; } }

@media (max-width: 500px) {
  .search .search-form {
    width: 150px; }
  .nav .search.search-active .search-form {
    width: 150px; }
  .youdao-fixed-ad .ad-badge {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); } }

@media (max-width: 800px) {
  .nav-ul {
    display: none; } }

@media (min-width: 801px) {
  .nav-ul {
    display: block; } }

