body {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #464646;
}

@media (min-width: 768px) {
  .main {
    padding: 30px 25px 200px 25px;
  }
}

@media (max-width: 767px) {
  .main {
    padding: 30px 10px 200px 10px;
  }
}

 
h1 {padding-bottom: 20px; }
h2 {padding-top: 20px; }

.red {color: red;}

.main {
  max-width: 100%;
  font-size: 14px;
  line-height: 23px;
  background-color: WhiteSmoke;
  color: black;
}

.main img { max-width: 100%; }

code {
  border-radius: 3px;
  padding: 2px 3px 2px 3px;
  background-color: rgba(27,31,35,0.15);
}

hr {
  color: #efefef;
  margin-bottom: 50px;
  margin-top: 25px;
}

table {
  padding: 5px;
  border-radius: 3px;
  border-collapse: collapse;
  font-size: 13px;
}
table > thead {
  background-color: #e5e5e5;
}
table th, table td {
  border: solid 1px #888888;
  padding: 5px;
}

pre > code {
  display: block;
  border: 1px solid #ccc;
  padding: 5px 10px;
  background-color: #D8D8D8;
  overflow-x: auto;
}

 
.highlighter-coderay {
  border: 1px solid #ccc;
  padding: 5px 10px;
  background-color: #D8D8D8;
  overflow-x: auto;
}
