 

 

body
{
  margin: 0 auto;
  padding: 0;
  background-color: #333333;
  background-image: url("");
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: top left;
}

.Main
{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.PageBackgroundGlare
{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.PageBackgroundGlareImage
{
  background-image: url("");
  background-repeat: no-repeat;
  height: 382px;
  width: 450px;
  margin: 0;
}

html:first-child .PageBackgroundGlare
{
  border: 1px solid transparent;  
}


.PageBackgroundGradient
{
  background-image: url("");
  background-repeat: repeat-x;
  height: 261px;
}


.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size:1px;
}


 

 
.Sheet
{
  overflow: hidden;
  min-width:35px;
  min-height:35px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  width: 1082px;
}


.Sheet-body
{
  position: relative;
  z-index: 0;
  margin: 13px;
}

.Sheet-tl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background-image: url("");
}

.Sheet-tr
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 17px;
  height: 17px;
}

.Sheet-tr div
{
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -17px;
  width: 34px;
  height: 34px;
  background-image: url("");
}

.Sheet-bl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 17px;
  height: 17px;
}

.Sheet-bl div
{
  position: absolute;
  z-index: -1;
  top: -17px;
  left: 0;
  width: 34px;
  height: 34px;
  background-image: url("");
}

.Sheet-br
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 17px;
  height: 17px;
}

.Sheet-br div
{
  position: absolute;
  z-index: -1;
  top: -17px;
  left: -17px;
  width: 34px;
  height: 34px;
  background-image: url("");
}

.Sheet-tc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 0;
  left: 17px;
  right: 17px;
  height: 17px;
}

.Sheet-tc div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 34px;
  background-image: url("");
}

.Sheet-bc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  bottom: 0;
  left: 17px;
  right: 17px;
  height: 17px;
}

.Sheet-bc div
{
  position: absolute;
  z-index: -1;
  top: -17px;
  left: 0;
  width: 100%;
  height: 34px;
  background-image: url("");
}

.Sheet-cl
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 17px;
  left: 0;
  width: 17px;
  bottom: 17px;
}

.Sheet-cl div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
  background-image: url("");
}

.Sheet-cr
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 17px;
  right: 0;
  width: 17px;
  bottom: 17px;
}

.Sheet-cr div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: -17px;
  width: 34px;
  height: 100%;
  background-image: url("");
}

.Sheet-cc
{
  position: absolute;
  overflow:hidden;
  z-index: -2;
  top: 17px;
  left: 17px;
  right: 17px;
  bottom: 17px;
  background-image: url("");
}


.Sheet
{
  margin-top: -13px !important;
}
 

 
 

.artmenu a, .artmenu a:link, .artmenu a:visited, .artmenu a:hover
{
  text-align:left;
  text-decoration:none;
  outline:none;
  letter-spacing:normal;
  word-spacing:normal;
}

.artmenu, .artmenu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.artmenu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background:none;
}

.artmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.artmenu li li
{
  float: none;
}

.artmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background:none;
}

.artmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.artmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.artmenu:after, .artmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.artmenu, .artmenu ul
{
  min-height: 0;
}

.artmenu ul
{
  background-image: url("");
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.artmenu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}


 

.nav
{
  position: relative;
  margin: 0  auto;
  width: 	px;
  height: 37px;
  z-index: 100;
}

.artmenu
{
  padding: 8px 4px 0px 4px;
}


.nav .l, .nav .r, .nav .r div
{
  top: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 37px;
}

.nav .l
{
  left: 0;
  right: 0px;
}


.nav .r
{
  right: 0;
  width: 0px;
}


.nav .r div
{
  width: 1056px;
  right: 0;
}


.nav .l, .nav .r div
{
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url("");
}

 

 
.artmenu ul li
{
  clear: both;
}

.artmenu a , .artmenu a span
{
  height: 29px;
  display: block;
}


.artmenu a
{
  cursor: pointer;
  text-decoration: none;
  margin-right: 3px;
  margin-left: 3px;

}
.artmenu a
{
  background-image: url("");
  background-position: left top;
  background-repeat: no-repeat;
}

.artmenu a span
{
  background-image: url("");
  background-position: right top;
  background-repeat: no-repeat;
}
.artmenu a span span
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #212121;
  padding: 0 19px;
  margin: 0 4px;
  line-height: 29px;
  text-align: center;
  background-image: url("");
  background-position: left top;
  background-repeat: repeat-x;

}


.artmenu a:hover
{
  background-position: left -29px;
}

.artmenu li:hover>a
{
  background-position: left -29px;
}
.artmenu li:hover a span
{
  background-position: right -29px;
}

.artmenu a:hover span
{
  background-position: right -29px;
}


.artmenu a:hover span span
{
  color: #333333;
  background-position: left -29px;
}

.artmenu li:hover a span span
{
  color: #333333;
  background-position: left -29px;
}


.artmenu a.active
{
  background-position: left -58px;
}

.artmenu a.active span
{
  background-position: right -58px;
}

.artmenu a.active span span
{
  color: #E8E8E8;
  background-position: left -58px;
}

 

 
div.Header
{
  margin: 0 auto;
  position: relative;
  z-index:0;
  width: 1056px;
  height: 270px;
}



div.Header-jpeg
{
  position: absolute;
  z-index:-1;
  top: 0;
  left: 0;
  width: 1056px;
  height: 270px;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center center;
}
 

 
.logo
{
  display : block;
  position: absolute;
  left: 100px;
  top: 134px;
  width: {LogoWidth}px;
}

h1.logo-name
{
  display: block;
  text-align: {HorizontalAlign};
}

h1.logo-name, h1.logo-name a, h1.logo-name a:link, h1.logo-name a:visited, h1.logo-name a:hover
{
{LogoNameFont}
  padding:0;
  margin:0;
  color: {NameFontColor} !important;
}

.logo-text
{
  display: block;
  text-align: {HorizontalAlign};
}

.logo-text, .logo-text a
{
{LogoSloganFont}
  padding:0;
  margin:0;
  color: {TextFontColor} !important;
}

 

 
.contentLayout
{
  margin-bottom: 1px;
  width: 1056px;
  position: relative;
}
 

 
.Block
{
  overflow: hidden;
  min-width:15px;
  min-height:15px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.Block-body
{
  position: relative;
  z-index: 0;
  margin: 7px;
}

.Block-tl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  background-image: url("");
}

.Block-tr
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 7px;
  height: 7px;
}

.Block-tr div
{
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -7px;
  width: 14px;
  height: 14px;
  background-image: url("");
}

.Block-bl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 7px;
  height: 7px;
}

.Block-bl div
{
  position: absolute;
  z-index: -1;
  top: -7px;
  left: 0;
  width: 14px;
  height: 14px;
  background-image: url("");
}

.Block-br
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 7px;
  height: 7px;
}

.Block-br div
{
  position: absolute;
  z-index: -1;
  top: -7px;
  left: -7px;
  width: 14px;
  height: 14px;
  background-image: url("");
}

.Block-tc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 0;
  left: 7px;
  right: 7px;
  height: 7px;
}

.Block-tc div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 14px;
  background-image: url("");
}

.Block-bc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  bottom: 0;
  left: 7px;
  right: 7px;
  height: 7px;
}

.Block-bc div
{
  position: absolute;
  z-index: -1;
  top: -7px;
  left: 0;
  width: 100%;
  height: 14px;
  background-image: url("");
}

.Block-cl
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 7px;
  left: 0;
  width: 7px;
  bottom: 7px;
}

.Block-cl div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 14px;
  height: 100%;
  background-image: url("");
}

.Block-cr
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 7px;
  right: 0;
  width: 7px;
  bottom: 7px;
}

.Block-cr div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: -7px;
  width: 14px;
  height: 100%;
  background-image: url("");
}

.Block-cc
{
  position: absolute;
  overflow:hidden;
  z-index: -2;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background-image: url("");
}


.Block
{
  margin: 7px;
}

 

 
.BlockHeader
{
  position: relative;
  overflow: hidden;
  height: 30px;
  z-index: 0;
  line-height: 30px;
  padding: 0 7px;
  margin-bottom: 7px;

}

.BlockHeader-text
{
  white-space : nowrap;
  color: #B3FF0F;
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
}


.BlockHeader .l, .BlockHeader .r, .BlockHeader .r div
{
  top: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 30px;
}

.BlockHeader .l
{
  left: 0;
  right: 6px;
}


.BlockHeader .r
{
  right: 0;
  width: 6px;
}


.BlockHeader .r div
{
  width: 895px;
  right: 0;
}


.BlockHeader .l, .BlockHeader .r div
{
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url("");
}



.header-tag-icon
{
  display:inline-block;
  background-position:left top;
  background-image: url("");
  padding:0 0 0 20px;
  background-repeat: no-repeat;
  min-height: 12px;
  margin: 0 0 0 5px;
}




 

 
.BlockContent
{
  overflow: hidden;
  min-width:1px;
  min-height:1px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.BlockContent-body
{
  position: relative;
  z-index: 0;
  margin: 8px;
}


.BlockContent-body
{
  color:#5E5E5E;
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.BlockContent-body a:link
{
  color: #70A270;
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.BlockContent-body a:visited, .BlockContent-body a.visited
{
  color: #878787;
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.BlockContent-body a:hover, .BlockContent-body a.hover
{
  color: #6B6B6B;
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}


.BlockContent-body ul
{
  list-style-type: none;
  color: #242424;
  margin:0;
  padding:0;
}

.BlockContent-body li
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  text-decoration: none;
}

.BlockContent-body ul li
{
  padding:0px 0 0px 13px;
  background-image: url("");
  background-repeat:no-repeat;
  margin:0.5em 0 0.5em 0;
  line-height:1.2em;
}

 

 
.Post
{
  overflow: hidden;
  min-width:15px;
  min-height:15px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.Post-body
{
  position: relative;
  z-index: 0;
  margin: 11px;
}

.Post-tl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  background-image: url("");
}

.Post-tr
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 7px;
  height: 7px;
}

.Post-tr div
{
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -7px;
  width: 14px;
  height: 14px;
  background-image: url("");
}

.Post-bl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 7px;
  height: 7px;
}

.Post-bl div
{
  position: absolute;
  z-index: -1;
  top: -7px;
  left: 0;
  width: 14px;
  height: 14px;
  background-image: url("");
}

.Post-br
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 7px;
  height: 7px;
}

.Post-br div
{
  position: absolute;
  z-index: -1;
  top: -7px;
  left: -7px;
  width: 14px;
  height: 14px;
  background-image: url("");
}

.Post-tc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 0;
  left: 7px;
  right: 7px;
  height: 7px;
}

.Post-tc div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 14px;
  background-image: url("");
}

.Post-bc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  bottom: 0;
  left: 7px;
  right: 7px;
  height: 7px;
}

.Post-bc div
{
  position: absolute;
  z-index: -1;
  top: -7px;
  left: 0;
  width: 100%;
  height: 14px;
  background-image: url("");
}

.Post-cl
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 7px;
  left: 0;
  width: 7px;
  bottom: 7px;
}

.Post-cl div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 14px;
  height: 100%;
  background-image: url("");
}

.Post-cr
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 7px;
  right: 0;
  width: 7px;
  bottom: 7px;
}

.Post-cr div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: -7px;
  width: 14px;
  height: 100%;
  background-image: url("");
}

.Post-cc
{
  position: absolute;
  overflow:hidden;
  z-index: -2;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background-image: url("");
}


.Post
{
  margin: 10px;
}


 
a img
{
  border: 0;
}

.article img, img.article
{
  border-style: solid;
  border-width: 1px;
  border-color: #9DE500;
  margin: 1em;
}

.metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin:2px;
}
 

 

.article table, table.article
{
  border-collapse: collapse;
  margin: 1px;
  width:auto;
}

.article table, table.article .article tr, .article th, .article td
{
  background-color:Transparent;
}

.article th, .article td
{
  padding: 2px;
  border: solid 1px #BAFF24;
  vertical-align: top;
  text-align:left;
}

.article th
{
  text-align:center;
  vertical-align:middle;
  padding: 7px;
}



 
 

 

.PostMetadataHeader
{

  background-color: #333333;
  border-color: #CDFF61;
  border-style: solid;
  border-width: 1px;
  padding:3px;
}




 

 
.PostHeaderIcon-wrapper
{
  text-decoration:none;
  margin: 0.2em 0;
  padding: 0;
  font-weight:normal;
  font-style:normal;
  letter-spacing:normal;
  word-spacing:normal;
  font-variant:normal;
  text-decoration:none;
  font-variant:normal;
  text-transform:none;
  text-align:left;
  text-indent:0;
  line-height:inherit;
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #B3FF0F;
}

.PostHeaderIcon-wrapper, .PostHeaderIcon-wrapper a, .PostHeaderIcon-wrapper a:link, .PostHeaderIcon-wrapper a:visited, .PostHeaderIcon-wrapper a:hover
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 19px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #B3FF0F;
}

 

 
.PostHeader a:link
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #DBFF8F;
}

.PostHeader a:visited, .PostHeader a.visited
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #D9D9D9;
}

.PostHeader a:hover, .PostHeader a.hovered
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #C2C2C2;
}
 

 
.PostHeaderIcons, .PostHeaderIcons a, .PostHeaderIcons a:link, .PostHeaderIcons a:visited, .PostHeaderIcons a:hover
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  color: #383838;
}

.PostHeaderIcons a, .PostHeaderIcons a:link, .PostHeaderIcons a:visited, .PostHeaderIcons a:hover
{
  margin:0;
}

.PostHeaderIcons a:link
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #70A270;
}

.PostHeaderIcons a:visited, .PostHeaderIcons a.visited
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #525252;
}

.PostHeaderIcons a:hover, .PostHeaderIcons a.hover
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #6B6B6B;
}


 

 
 
body
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  color: #4A4A4A;
}

.PostContent
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  color: #4A4A4A;
}

 
 
a
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #92D600;
}

 
a:link
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #92D600;
}

 
a:visited, a.visited
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #363636;
}

 
a:hover, a.hover
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #6B6B6B;
}

 

 
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


 
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #525252;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #6B6B6B;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #92D600;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #5E5E5E;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #5E5E5E;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #5E5E5E;
}
 

 

 
 

ul
{
  list-style-type: none;
  color: #383838;
  margin:0;
  padding:0;
}

li
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
}



.Post ul li
{
  padding:0px 0 0px 13px;
  background-image: url("");
  background-repeat:no-repeat;
  margin:0.5em 0 0.5em 0;
  line-height:1.2em;
}


 
 

 
 

blockquote p
{
  color:#0F0F0F;
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

blockquote
{
  border-color:#CDFF61;
  border-width: 1px;
  border-style: solid;

  margin:10px 10px 10px 50px;
  padding:5px 5px 5px 41px;

  background-color:#E5FFAD;

  background-image:url("");
  background-position:left top;
  background-repeat:no-repeat;
}



 
 

 
.PostFooterIcons, .PostFooterIcons a, .PostFooterIcons a:link, .PostFooterIcons a:visited, .PostFooterIcons a:hover
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  text-decoration: none;
  color: #383838;
}

.PostFooterIcons a, .PostFooterIcons a:link, .PostFooterIcons a:visited, .PostFooterIcons a:hover
{
  margin:0;
}

.PostFooterIcons a:link
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #70A270;
}

.PostFooterIcons a:visited, .PostFooterIcons a.visited
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #525252;
}

.PostFooterIcons a:hover, .PostFooterIcons a.hover
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #6B6B6B;
}


 

 
button.Button, a.Button
{
  position:relative;
  display:inline-block;
  width: auto;
  outline:none;
  border:none;
  background:none;
  line-height:34px;
  margin:0;
  padding:0;
  overflow: visible;
  cursor: default;
  text-decoration: none !important;
}


 
*:first-child+html button.Button, *:first-child+html a.Button
{
  display:list-item;
  list-style-type:none;
  float:left;
}


.Button .btn
{
  position: relative;
  overflow: hidden;
  display: block;
  width: auto;
  z-index: 0;
  height: 34px;
  color: #000000;
  white-space: nowrap;
  float: left;
}

.Button .t
{
  height:34px;
  white-space: normal;
  padding: 0 21px;
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  line-height: 34px;
  text-decoration: none !important;
}

input, select
{
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.Button .active
{
  color: #F2F2F2;
}

.Button .hover,  a.Button:hover
{
  color: #C7C7C7;
  text-decoration: none !important;
}

.Button .active .r
{
  top: -68px;
}

.Button .hover .r
{
  top: -34px;
}

.Button .r
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 11px;
  height: 102px;
}


.Button .r span
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width:411px;
  height: 102px;
}


.Button .active .l
{
  top: -68px;
}

.Button .hover .l
{
  top: -34px;
}

.Button .l
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  right: 11px;
  height: 102px;
}


.Button .l, .Button .r span
{
  background-image: url("");
}

 

 
.Footer
{
  position:relative;
  z-index:0;
  overflow:hidden;
  width: 1056px;
  margin: 5px auto 0px auto;
}

.Footer .Footer-inner
{
  height:1%;
  position: relative;
  z-index: 0;
  padding: 8px;
  text-align: right;
}

.Footer .Footer-background
{
  position:absolute;
  z-index:-1;
  background-repeat:no-repeat;
  background-image: url("");
  width: 1056px;
  height: 100px;
  bottom:0;
  left:0;
}



.rss-tag-icon
{
  position: relative;
  display:block;
  float:left;
  background-image: url("");
  background-position: center right;
  background-repeat: no-repeat;
  margin: 0 5px 0 0;
  height: 25px;
  width: 32px;
}




.Footer .Footer-text p
{
  margin: 0;
}

.Footer .Footer-text
{
  display:inline-block;
  color:#B3FF0F;
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
}

.Footer .Footer-text a:link
{
  text-decoration: none;
  color: #C2C2C2;
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.Footer .Footer-text a:visited
{
  text-decoration: none;
  color: #757575;
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.Footer .Footer-text a:hover
{
  text-decoration: none;
  color: #A8A8A8;
  font-family: "Microsoft YaHei", Georgia, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}
 

 
.page-footer, .page-footer a, .page-footer a:link, .page-footer a:visited, .page-footer a:hover
{
  font-family:Arial;
  font-size:10px;
  letter-spacing:normal;
  word-spacing:normal;
  font-style:normal;
  font-weight:normal;
  text-decoration:underline;
  color:#9E9E9E;
}

.page-footer
{
  margin:1em;
  text-align:center;
  text-decoration:none;
  color:#C2FF3D;
}
 

 
.contentLayout .content
{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  overflow: hidden;
  width: 810px;
}

 

 
.contentLayout .sidebar1
{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  overflow: hidden;
  width: 246px;
}

 



.commentlist, .commentlist li
{
    background: none;
}

.commentlist li li
{
    margin-left:30px;
}

.commentlist li .avatar
{
  float: right;
  border: 1px solid #eee;
  padding: 2px;
  margin:1px;
  background: #fff;
}

.commentlist li cite
{
  font-size:1.2em;
}

#commentform textarea
{
  width: 100%;
}

img.wp-smiley
{
    border:none;
    margin:0;
    padding:0;
}

.navigation
{
	display: block;
	text-align: center;
}

 
 
.aligncenter, div.aligncenter
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft
{
  float: left;
}

.alignright
{
  float: right;
}

.alignright img, img.alignright
{
    margin: 1em;
    margin-right: 0;
}

.alignleft img, img.alignleft
{
    margin: 1em;
    margin-left: 0;
}

.wp-caption
{
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px;
}

.wp-caption img
{
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text
{
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}
 


.hidden
{
	display: none;
}

 
#wp-calendar {
	empty-cells: show;
	margin: 10px auto 0;
	width: 155px;
}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
}

#wp-calendar a {
	display: block;
}

#wp-calendar caption {
	text-align: center;
	width: 100%;
}

#wp-calendar td {
	padding: 3px 0;
	text-align: center;
}